html {
    background-color: #AFD3E2;
    font-family: helvetica, sans-serif;
    text-align: center;    
}

ul {
    list-style-position: inside;
    list-style-type:none;
}
html, body{
    margin: 0px;
    height: 100%;
}

h1, h2, h3{
    text-transform:uppercase;
    text-align: center;
}

.wit{
    background-color: #F6F1F1;
    color: black;
    padding: 5px;
}

.blauw{
    background-color: #AFD3E2;
    color: white;
}

#Mike{
    border: 5px solid black;
    border-radius: 50%;
}